.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: 100%;
}

.item {
  position: relative;
  height: 100%;
  grid-column: 5 / -3;
  border-left: 1px solid #42567a1a;
  border-right: 1px solid #42567a1a;
  padding-left: calc(100vw / 24);
  padding-right: calc(100vw / 24);
}

.item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-right: 1px solid #42567a1a;
}

.item::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #42567a1a;
}

.title {
  color: #42567a;
  position: absolute;
  font-weight: 700;
  font-size: 3rem;
  top: 10%;
  left: 0;
  border-left: 5px solid;
  border-image: linear-gradient(0, #3877ee, #ef5da8) 1;
  padding-left: calc(100vw / 24);
}

.slider-container {
  position: relative;
  width: 100%;
}

.events-slider {
  height: 140px;
  //TODO: Убрать отступ
  margin-top: 60vh;
  // width: 90%;
  // max-width: 90%;

  &__slide {
    flex-shrink: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }

  &__slide-title {
    font-family: 'BebasNeue', system-ui, sans-serif;
    font-size: 1.5rem;
    color: #3877ee;
  }

  &__slide-desc {
    font-size: 1rem;
    line-height: 1.5em;
    color: #42567a;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3; // 3 строки максимум
    -webkit-box-orient: vertical;
  }
}

.swiper-slide {
  height: 100%;
  width: calc(30% - 40px);
}

.slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5%;
  right: -5%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}

.prev-btn,
.next-btn {
  pointer-events: all;
  width: 36px;
  height: 36px;
  background: white;
  box-shadow: #3877ee4d 0 0 15px;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    border: 1px solid #42567a4d;
  }

  &[style*='opacity: 0'] {
    pointer-events: none;
  }
}
