.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: auto;
  grid-column: 5 / -3;
  border-left: 1px solid #42567a1a;
  border-right: 1px solid #42567a1a;
  padding-left: calc(100vw / 24);
  padding-right: calc(100vw / 24);
}

.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  border-right: 1px solid #42567a1a;
}

.item::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #42567a1a;
}

.title {
  line-height: 1.2;
  color: #42567a;
  position: absolute;
  font-weight: 700;
  font-size: 56px;
  top: 100px;
  left: 0;
  border-left: 5px solid;
  border-image: linear-gradient(0, #3877ee, #ef5da8) 1;
  padding-left: calc(100vw / 24);
}

.slide {
  border: 1px solid black;
}

.swiper-button-prev,
.swiper-button-next {
  box-shadow: 0 0 15px #3877ee1a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0px;
  background: white;
  cursor: pointer;
}
