@use "./fonts.scss";

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PTSans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
