@use './fonts.scss';

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background-color: #f1f5f9;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PTSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1;
}
